/*=======================================================================
*** PORTO_SUB STYLE SHEET***
========================================================================*/
p {color: #444}
body {font-size: 13px;line-height: 20px;}
.body .form-text {height:24px}
.img-thumbnail {border:none}
.post-medium-image {border-bottom: 1px solid #DDD; margin-bottom: 40px; padding-bottom: 10px;}
.field-name-field-share-this-news {margin-top: 20px}
.addthis_32x32_style {margin-top:15px}
.map-section {background:none; padding-top:0px}
ul.simple-post-list li {padding:0 0; line-height:18px}
.feature-box .feature-box-icon {border-radius:20px; height:20px; line-height:20px; width: 20px}
.feature-box .feature-box-info {padding-left:30px}
.feature-box .feature-box-info h4 {font-size:1em; line-height:18px;margin: 0 0}
.feature-box .feature-box-info p {margin:0 0}
.feature-box .feature-box-info p.tall {margin-bottom:5px}
div#block-block-4 {margin-bottom:10px}
/* .experttalk {background:#fcc8a1;width:20%;padding:5px 0 -10px 5px; border: 1px solid #d1976d;margin:0 0 15px -60px} */
.experttalk {margin:0 0 15px -60px}
.experttalk h4 {margin-bottom:0}
div.field-name-field-guest-name {width:350px}
div.field-name-field-guest-photo {float:left; margin-right:10px}
.views-field-field-guest-photo {margin: 0 0 15px 0}
span.views-field-field-guest-name {padding:0 0 15px 15px}
div.view-guest-columnist-block span.views-field-field-guest-name {padding:0 0 15px 0}
.region-sidebar-right span.views-field-field-guest-name {padding:0 0}
.red {color:red}
.black {color:black}
.green {color:darkgreen}
.block {margin-bottom:5px}

.comment-list {font-size: 0.9em;border-bottom:1px solid #dedede; padding:5px 0;}
div#name-and-slogan {margin:52px 0px 0px -160px}
div#name-and-slogan a {color:#dedede}
article.post-large .post-image {margin-left:0px}
i.fa-envelope-o {margin: 20px 0 10px 0}
div#leaflet-map {margin:20px 0}
span.post-meta-phone,
span.post-meta-globe,
span.post-meta-envelope,
span.post-meta-download,
i.fa-briefcase {
	float:left; margin-right:10px;
}
span.post-meta-address {float:left;margin:15px 10px 0 0}
div.post-meta-briefcase, div.directory-bottom, div.field-type-addressfield {margin:15px 0}
div.directory-bottom {clear:left}
.page-directory ul.action-links,
.page-articles ul.action-links,
.page-news ul.action-links,
.page-voices ul.action-links,
.page-pet-videos ul.action-links,
.page-pet-photos ul.action-links,
.page-pet-adoption ul.action-links,
.page-ads ul.action-links,
.page-announcements ul.action-links,
.page-opinion-invites ul.action-links {float:right}
.page-pet-adoption ul.action-links,
.page-pet-videos ul.action-links {margin-bottom:-10px}

.img-thumbnail-directory {width:30%; float:left;margin-right:15px}
.img-thumbnail-popular {width: 80%; float: left; border: 1px solid #999; padding: 2px; margin-top:15px}
div.post-content-directory {clear: left; padding-top:15px}
.node-type-node-gallery-item .field-name-field-share-this-photo {margin:20px 0}
.node-type-node-gallery-item ul.links,
.node-type-node-gallery-item ul.links li {padding:0 15px 0 0}
.page-pet-photos #album {width:80%; padding: 0px 0px;margin-top:33px}
.page-pet-photos div.container {padding: 0px 0px}
.album-row {float: left; margin:0px 0px 20px 20px}
table#node-gallery-item-navigator {width:100%; margin-bottom: 20px}
table.item-navigator td.item-navigator-first {text-align:left}
table.item-navigator td.item-navigator-last {text-align:right}
.node-type-node-gallery-gallery .post-meta {margin-bottom:10px}
.album-links {clear:left}
.album-comments {clear:both; margin-top:20px;width:100%}
.forum-table td {border:none}
span.topic-icon {margin-right:15px}
div.forum-post {width:100%}
.forum-post-panel-main {margin-left:0px; min-height:200px;width:85%}
.forum-post-panel-sub {width:13%}
.forum-topic-header .topic-post-count {margin:0 0}
.vud-widget-updown {width:55px}
.pane-lost-pet-teasers-page h3,
.pane-found-pet-teasers-page h3 {margin-bottom: 10px}
.panel-2col .panel-col-first {width:48%; padding-right:5px;margin-right:10px;border-right:1px solid #ccc;}
.panel-2col .panel-col-last {width:48%; padding-left:10px;padding-right:15px}
.create-lost-found {float:right;}
.lost-found-body {padding-bottom:20px;margin-bottom:10px}
.lost-pet-body,
.lost-pet-name-breed {margin-bottom:20px}
.btn-primary a,
.btn-primary a:hover {color:#ffffff; text-decoration:none}
table.views-table,
table.forum-table,
table {width:100%}
td,th {padding:10px 0}
article.post .post-meta > span {padding-right:0px}
div.after-main-content {margin:20px 0}
.field-name-field-pet-info,
.field-name-field-pet-name,
.field-name-field-pet-date-of-birth,
.field-name-field-pet-description {width:100%;margin-top:15px}
.user-row {margin-bottom:15px}
.simple-post-list .row {margin:0 15px 15px 15px}
.node-type-page .tabs, 
.node-type-page h2 {margin-bottom:0px}
.node-type-page .user-row {margin:0px 15px}
.node-type-page img {float:left;margin:0 10px 10px 0}
.region-sidebar-right img {margin:0 0}
.statuses-item .content {padding:0px 15px}
div#block-system-user-menu {margin:5px 0 0 0}
.new-row {clear:both}
.view-guest-column-teasers-page .views-field-field-guest-photo {margin-bottom: 0px}
.view-guest-column-teasers-page h4 {margin-bottom:0px}
.view-ad-block-nodequeues article.post-large {margin-left:0px}
.side-menu .col-md-3 {padding-left:0px}
div#block-forum-active .pagination>li>a {color:#ad570c}
div.statuses-item {font-size:11px;line-height:14px}
.statuses-media > .content > * {margin-top:0.35em}
.statuses-media > .content .statuses-comments {margin-top:5px}
.statuses-media .statuses-participants {margin-bottom:5px}
.view-statuses-stream td {padding:5px 0}
div.field-content.field-name-body.col-md-7 {float:right}
.page-articles span.field-content.black {margin-left:0px}

.field-name-field-directory-category a {font-size:1.1em}
div#leaflet-map {clear:both}
.field-name-field-logo img {float:right}
.star-rating {margin-bottom:10px}
.directory-logo-left {float:left;margin-right:80px}
div#block-views-recent-articles-block-block-1,
div#block-views-recent-articles-block-block-2,
div#block-views-recent-articles-block-block-8,
div#block-views-recent-articles-block-block-4,
div#block-views-recent-articles-block-block-5,
div#block-views-recent-articles-block-block-6,
div#block-views-recent-articles-block-block-7,
div#block-views-recent-articles-block-block-3
 {clear:left;float:left;position:relative;padding:5px;border-bottom:1px solid #dedede}

div#block-views-recent-articles-block-block-8 .views-row,
div#block-views-recent-articles-block-block-1 .views-row,
div#block-views-recent-articles-block-block-2 .views-row,
div#block-views-recent-articles-block-block-9 .views-row
 {padding-right:3px;border-right: 1px solid #dedede}
div#block-views-recent-articles-block-block-8 .views-row-last,
div#block-views-recent-articles-block-block-1 .views-row-last,
div#block-views-recent-articles-block-block-2 .views-row-last,
div#block-views-recent-articles-block-block-9 .views-row-last
 {border-right: none}
div#block-views-recent-articles-block-block-9 {clear:left}
.view-recent-articles-block .views-row {margin-left:5px}
form#user-login .pagination>li>a {border:none}

.article-row-front {width:23%;float:left;margin-right:5px}
#block-system-user-menu {display:block;float:right;}
#block-system-user-menu li {float:left;list-style:none;padding:0 1px; margin:0 1px;}
#block-system-user-menu a {font-size: 0.9em;color:#333;float:left;padding:0 0.8em;text-decoration:none;}
#block-system-user-menu a:hover,
#block-system-user-menu a:focus {color:#ad570c;}
#block-system-user-menu a.active {color:#b3b3b3;}

.statuses-update-main  {padding:6px; border:1px solid #ccc}
.directory-logo-left {float:left;margin-right:20px;min-height:140px;min-width:20%}
input#edit-field-image-und-0-upload.form-file,
input#edit-field-news-image-und-0-upload.form-file,
input#edit-field-guest-author-info-und-0-field-guest-photo-und-0-upload.form-file,
input#edit-field-contest-image-und-0-upload.form-file,
input#edit-field-guestcol-image-und-0-upload.form-file,
input#edit-field-video-contest-entry-und-0-upload.form-file,
input#edit-field-logo-und-0-upload.form-file,
input#edit-field-directory-download-und-0-upload.form-file,
input#edit-field-directory-image-und-0-upload.form-file {margin-bottom:15px}
  
div.field-collection-container {float: left; clear:left}
.field-name-field-voices-category {float:left}
.node-guest-column .field-name-body {clear:left}
input#edit-submit {margin-right:10px}
.form-type-plupload .description {clear:left;float:left}
div#edit-actions.form-actions {clear:left}
form.confirmation .pagination>li {display:block}

div#block-system-help.block.block-system {margin-left:75px}
div.views-field.views-field-field-found-pet-reunited {colour:red;font-weight:bold}
div#modal-content.modal-content {margin:10px 12px}
.region-sidebar-right .pagination {margin:0}
.region-sidebar-right .pagination>li>a,
.region-sidebar-right .pagination-sm>li>a {border:none;padding:0;margin:0}
.region-sidebar-right h4 {margin:0 0 5px 0}
.views-exposed-form .views-exposed-widget .form-submit {margin-top:0}

a.ctools-use-modal.ctools-modal-modal-popup-medium.ctools-use-modal-processed,
a.ctools-use-modal.ctools-modal-modal-popup-small.ctools-use-modal-processed {color:#666}

.views-field-comment-count {margin-bottom:10px}
.region-sidebar-right .block {margin-bottom:15px}
.category {clear:left;display:block}
.article_content {clear:left}
.node-opinion .article_content,
.node-opinion-invite .article_content {margin-top:50px}

.views-exposed-form .views-exposed-widget .form-submit {margin-top:2.1em}
.views-exposed-widget label,
.view-directory-teasers-page .view-header {
font-size: 11px;font-style: normal;
line-height: 20px;
margin-right: 3px;
text-transform: uppercase;
font-weight: 700;
}
div.view-filters {margin-bottom: 25px;padding-bottom:10px;border-bottom: 1px solid #dedede}
div.user-album {display:none}
.login-line, .contest-closed {margin-bottom:25px}

.view-lost-pet-teasers-page .views-field-field-lost-pet-found,
.view-found-pet-teasers-page .views-field-field-found-pet-reunited,
.view-adoption-teasers-page .views-field-field-adopted
 {margin: -40px 0 15px 2px;}
div.row.col-md-7.post-meta-comments {margin-left:42%}
div.row.col-md-9.post-meta-comments {margin-left:17%}

#footer,
#footer .footer-copyright {margin-top:0px;padding:0 0;}

