/* FORUM LIST ICONS *********************************************************/
.forum-list-icon-wrapper {
  border-top: 1px solid #EAF8E4;
  background: #C1C1C1;
  background: -webkit-gradient(linear, left top, left bottom, from(#DFDFDF), to(#C1C1C1));
  background: -moz-linear-gradient(top, #DFDFDF, #C1C1C1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #333333;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: block;
}

tr.even td.forum-list-icon-default .forum-list-icon-wrapper span,
tr.odd td.forum-list-icon-default .forum-list-icon-wrapper span,
.forum-list-icon-legend .forum-list-icon-default {
  background: transparent url(images/forum_list_default.png) no-repeat center center;
}

tr.even td.forum-list-icon-new-posts .forum-list-icon-wrapper span,
tr.odd td.forum-list-icon-new-posts .forum-list-icon-wrapper span,
.forum-list-icon-legend .forum-list-icon-new-posts {
  background: transparent url(images/forum_list_new_posts.png) no-repeat center center;
}

/* TOPIC LIST ICONS *********************************************************/
span.topic-icon {
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}

.topic-icon-default {
  background: transparent url(images/topic_list_default.png) no-repeat center center;
}

.topic-icon-new {
  background: transparent url(images/topic_list_new.png) no-repeat center center;
}

.topic-icon-hot {
  background: transparent url(images/topic_list_hot.png) no-repeat center center;
}

.topic-icon-hot-new {
  background: transparent url(images/topic_list_hot_new.png) no-repeat center center;
}

.topic-icon-sticky {
  background: transparent url(images/topic_list_sticky.png) no-repeat center center;
}

.topic-icon-closed {
  background: transparent url(images/topic_list_closed.png) no-repeat center center;
}

/* TOPIC LIST ICON LEGEND ***************************************************/
.topic-icon-default {
  background: transparent url(images/topic_list_default.png) no-repeat top left;
}

.topic-icon-new {
  background: transparent url(images/topic_list_new.png) no-repeat top left;
}

.topic-icon-hot {
  background: transparent url(images/topic_list_hot.png) no-repeat top left;
}

.topic-icon-hot-new {
  background: transparent url(images/topic_list_hot_new.png) no-repeat top left;
}

.topic-icon-sticky {
  background: transparent url(images/topic_list_sticky.png) no-repeat top left;
}

.topic-icon-closed {
  background: transparent url(images/topic_list_closed.png) no-repeat top left;
}

/* AUTHOR PANE **************************************************************/

.forum-post-panel-sub .author-online {
  background: transparent url(images/ap_user_online.png) no-repeat;
  padding-left: 20px;
  height: 20px;
  width: 125px;
  display: block;
}

.forum-post-panel-sub .author-offline {
  background: transparent url(images/ap_user_offline.png) no-repeat;
  padding-left: 20px;
  height: 20px;
  width: 125px;
  display: block;
}


/* BUTTONIZED LINKS - GENERAL ***********************************************/
/* Based on http://css-tricks.com/examples/ButtonMaker */



/* BUTTONIZED LINKS - INDIVIDUAL BUTTONS ************************************/

.forum-add-forum .af-button-large span {

}

.forum-add-poll .af-button-large span {
  
}

/*** Reply/Locked at the top and bottom of individual topics. ***/

/* Reply link */
.topic-reply-allowed .af-button-large span {
 
}

/* Locked topic (not a link so an extra span is used instead of the "a". */
.topic-reply-locked .af-button-large span {
 
}

/* Last post */
.last-post-link .af-button-large span {
  
}

/* First unread */
.topic-new-post-link .af-button-large span {
  
}


/*** Links on the individual posts (nodes and comments). ***/

/* General */
.forum-post-links .af-button-small span {
}

/* Reply */
.comment-add .af-button-small span,
.comment-reply .af-button-small span {
  
}

/* Quote */
.quote .af-button-small span {
  
}

/* Edit */
.comment-edit .af-button-small span,
.post-edit .af-button-small span {
  
}

/* Delete */
.comment-delete .af-button-small span,
.post-delete .af-button-small span {
  
}

/* Jump to top */
.forum-jump-links .af-button-small span {
  
}

/*** AUTHOR PANE ***/

